.navbar {
    background-color: #A4BBD6;
}
.navbar .elements{
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0.5rem 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.settings img{
   height: 35px;
   width: 35px;
}

.logo img{
    height: 2.5rem;
    max-width: 13rem;
}