.players-container{
    display: flex;
    flex-direction: column;
    background-color: #C4C4C4;
    border: 2px solid black;
    margin: 0.5rem 1.5rem 0.5rem 0;
    width: 35vw;
    height: 65vh;
    overflow-y:scroll;
    overflow-x: hidden;
}
.player{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.player img{
    height: 150px;
    width: 60px;
}
.name{
    font-size: 1.7rem;
}

.score{
    font-size: 1.5rem;
    color: #E61A10;
}

::-webkit-scrollbar {
    display: none;
}