.room-container{
    background-color: #A4BBD6;
    display: flex;
    flex-direction: column;
    
    height: 90vh;
    justify-content: space-evenly;
    

}

.things{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

h1{
    font-size: 6rem;
    color: #FAF1AC;
}

.arrow{
    max-width: 1500px;
    margin: 0 5rem;
    display: flex;
    justify-content: space-between;
}
.arrow div {
    visibility: hidden;
}