.room-container{
    background-color: #A4BBD6;
    display: flex;
    flex-direction: column;
    
    height: 90vh;
    justify-content: space-evenly;
    

}

.things{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

h1{
    font-size: 6rem;
    color: #FAF1AC;
    text-align: center;
}

.arrow{
    max-width: 1500px;
    margin: 0 5rem;
    display: flex;
    justify-content: space-between;
}
.arrow div {
    visibility: hidden;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.error h3{
    margin-top: 1rem;
    color: red;
    text-align: center;
    padding: 0 1.5rem;
}
@media screen and (max-width: 799px) {
    .things h1{
        font-size: 3rem;
    }
}