.home-container{
    background-color: #A4BBD6;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.skins{
    display: flex;
    gap: 5rem;
}
.skin{
    height: 180px;
    width: 80px;
}
.main{
    height: 250px;
    width: 120px;
}

h2{
    font-size: 4rem;
    color: #FAF1AC;
}

.btns{
    display: flex;
    gap: 1rem ;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.btn{
    width: 400px;
    height: 60px;
    outline: 1px solid black;
    border: 6px solid #FFC700;
    background-color: #FAF1AC;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
   
}

.rounds{
    display: flex;
    gap: 1.5rem;
}
.opr{
    height: 70px;
    width: 70px;
    outline: 1px solid black;
    border: 6px solid #FFC700;
    background-color: #FAF1AC;
    font-size: 3rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
.number{
    height: 75px;
    width: 130px;
    outline: 1px solid black;
    border: 6px solid #FFC700;
    background-color: #FAF1AC;
    font-size: 1.7rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 799px) {
    .skins{
        gap: 2rem;
    }
    .skin{
        height: 120px;
        width: 70px;
    }
    .main{
        height: 150px;
        width: 100px;
    }
    .btns{
        flex-direction: column;
    }
    .btn{
    width: 250px;
    height: 60px;
    font-size: 2rem;
    }
    h2{
        font-size: 3rem;
    }
}