.room-container{
    background-color: #A4BBD6;
    display: flex;
    flex-direction: column;
    
    height: 90vh;
    justify-content: space-evenly;
    

}

.things{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

h1{
    font-size: 6rem;
    color: #FAF1AC;
}

.arrow{
    max-width: 1500px;
    margin: 0 5rem;
    display: flex;
    justify-content: space-between;
}
.arrow div {
    visibility: hidden;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-nickname{
  background-color: #FAF1AC;
  width: 25vw;
  height: 10vh;
  border: 5px solid #FFC700; 
  outline: 2px solid black;
  padding: 0.5rem;
  font-size: 3rem;
  text-align: center;
}