@import url('http://fonts.cdnfonts.com/css/upheaval');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Upheaval TT (BRK)";
}
.input-nickname{
  background-color: #FAF1AC;
  width: 25vw;
  height: 10vh;
  border: 5px solid #FFC700; 
  outline: 2px solid black;
  padding: 0.5rem;
  font-size: 3rem;
  text-align: center;
}
.bars{
  margin-top: 3.5rem;
  display: flex;
  gap: 10vw;
  margin-bottom: 3rem;
}
.bar{
  height: 9px;
  width: 20vw;
  background-color: #FAF1AC;
  border: 1px solid black;
}

.filled-bar{
  background-color: #FFA800;
}

@media screen and (max-width: 799px) {
  .input-nickname{
    width: 70vw;
    font-size: 2rem;
  }
}